@font-face {
  font-family: keepCalm;
  src: url("../fonts/keep-calm-medium.ttf");
}
.navbar-default {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.navbar-default .navbar-nav li.active a {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #f3c13a;
}
.navbar-default .navbar-nav li.active a:hover,
.navbar-default .navbar-nav li.active a:focus {
  color: #f3c13a;
}
.navbar-default .navbar-brand a,
.navbar-default .navbar-nav li a {
  font-family: keepCalm;
  line-height: 80px;
  height: 80px;
  padding-top: 0;
  color: white;
}
.navbar-default .navbar-brand a:hover,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-brand a:focus,
.navbar-default .navbar-nav li a:focus {
  color: #f3c13a;
}
#landing-section {
  background: url("../images/lbg.jpg") no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.landing-top {
  height: 70%;
}
.landing-bot {
  height: 30%;
  background: rgba(0, 0, 0, 0.7);
}
