@font-face {
  font-family: keepCalm;
  src: url('../fonts/keep-calm-medium.ttf');
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #f3c13a;
  border-width: 3px;
  max-width: 50px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #f3c13a;
}
a:hover,
a:focus {
  color: #ecb00e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #757D75;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}
nav.navbar-default.navbar-shrink {
  background-color: #191919;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
@media (min-width: 768px) {
  nav.navbar-default.navbar-shrink .nav > li > a,
  nav.navbar-default.navbar-shrink .nav > li > a:focus {
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
}
.navbar-default {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: white;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #f3c13a;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #f3c13a !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: none;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    height: 80px;
    text-align: center;
    line-height: 80px;
    padding-top: 0;
    padding-bot: 0;
    color: white;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #f3c13a;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  background: url('../images/header.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  color: white;
}
header .header-scroll-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 100px;
}
header .header-scroll-button > a {
  color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
header .header-scroll-button > a:hover,
header .header-scroll-button > a:focus {
  color: #f3c13a;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  color: white;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-scroll-button {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 100px;
  }
  header .header-scroll-button > a {
    color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
  header .header-scroll-button > a:hover,
  header .header-scroll-button > a:focus {
    color: #f3c13a;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    color: white;
    font-size: 150px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.service-box {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 50px auto 0;
}
.service-box .fa {
  font-size: 65px;
  color: #f3c13a;
}
.portfolio-box {
  width: 100%;
  height: 200px;
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  background: transparent;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  text-decoration: none !important;
}
.portfolio-box .portfolio-box-inner,
.portfolio-box .portfolio-box-outer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.portfolio-box .portfolio-box-inner {
  opacity: 0;
  background: rgba(243, 193, 58, 0.9);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-outer p {
  text-align: center;
  line-height: 200px;
  font-size: 45px;
}
.portfolio-box:hover {
  color: white !important;
}
.portfolio-box:hover .portfolio-box-inner {
  opacity: 1;
}
.bg-primary {
  background-color: #191919;
}
.bg-light {
  background-color: white;
}
.google-map {
  background-color: grey;
  height: 30%;
}
footer {
  width: 100%;
  background-color: #2e2e2e;
  color: white;
  height: 80px;
  text-align: center;
}
footer p {
  line-height: 80px;
  margin-bottom: 0;
}
.section {
  background-color: #2e2e2e;
}
.section-heading {
  margin-top: 0;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
