@font-face {
  font-family: keepCalm;
  src: url('../fonts/keep-calm-medium.ttf');
}
@font-face {
  font-family: mib;
  src: url('../fonts/mib.ttf');
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: 0.875em;
}
body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}
p {
  margin-bottom: 1.3em;
}
h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 3.157em;
}
h2 {
  font-size: 2.369em;
}
h3 {
  font-size: 1.777em;
}
h4 {
  font-size: 1.333em;
}
small,
.font_small {
  font-size: 0.75em;
}
hr {
  border-color: #E73C4E;
  border-width: 2px;
  max-width: 50px;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #78C0A8;
}
a:hover,
a:focus {
  color: #d61a2e;
}
section {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.section-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0.5em 0 0.5em;
}
nav.navbar-default.navbar-shrink {
  background-color: #333333;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
nav.navbar-default.navbar-shrink .nav > li > a,
nav.navbar-default.navbar-shrink .nav > li > a:focus {
  color: white;
}
@media (min-width: 768px) {
  nav.navbar-default.navbar-shrink .navbar-header .navbar-brand {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    height: 50px;
  }
  nav.navbar-default.navbar-shrink .navbar-header .navbar-brand img {
    padding-top: 0;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
  nav.navbar-default.navbar-shrink .nav > li > a,
  nav.navbar-default.navbar-shrink .nav > li > a:focus {
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
}
nav.navbar-default {
  background-color: transparent;
  border: none;
}
nav.navbar-default .navbar-collapse {
  border-color: #E73C4E;
}
nav.navbar-default .navbar-toggle {
  background-color: #E73C4E !important;
  border-color: #E73C4E !important;
}
nav.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
nav.navbar-default .nav > li > a,
nav.navbar-default .nav > li > a:focus {
  color: white;
}
nav.navbar-default .nav > li > a:hover,
nav.navbar-default .nav > li > a:focus:hover {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #E73C4E;
}
nav.navbar-default .nav > li.active > a,
nav.navbar-default .nav > li.active > a:focus {
  color: #E73C4E !important;
  background-color: transparent;
}
nav.navbar-default .nav > li.active > a:hover,
nav.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  nav.navbar-default {
    border-color: none;
  }
  nav.navbar-default .navbar-header .navbar-brand {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    height: 80px;
  }
  nav.navbar-default .navbar-header .navbar-brand img {
    padding-top: 13px;
  }
  nav.navbar-default .nav > li > a,
  nav.navbar-default .nav > li > a:focus {
    height: 80px;
    text-align: center;
    line-height: 80px;
    padding-top: 0;
    padding-bot: 0;
  }
  nav.navbar-default .nav > li > a:hover,
  nav.navbar-default .nav > li > a:focus:hover {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #E73C4E;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  background: url('../images/header/header.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  color: white;
}
header .header-content {
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner .logo-img {
  margin: 0 auto;
  content: url('../images/logo/logo-small.png');
  filter: brightness(0) invert(1);
}
header .header-scroll-button {
  width: 100%;
  position: absolute;
  bottom: 0;
}
header .header-scroll-button > a {
  color: white;
}
header .header-scroll-button > a:hover,
header .header-scroll-button > a:focus {
  color: #E73C4E;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner .logo-img {
    content: url('../images/logo/logo-medium.png');
  }
}
.services-page .service-box {
  text-align: center;
  margin: 45px auto 0;
}
.services-page .service-box .panel-heading:hover {
  cursor: pointer;
}
.services-page .service-box .panel {
  border-radius: 0;
}
/* CLIENTS */
.clients-page {
  padding-top: 0;
  padding-bottom: 0;
}
.clients-page .client-box {
  width: 100%;
  height: 200px;
  display: block;
  text-decoration: none !important;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.clients-page .client-box .client-box-inner,
.clients-page .client-box .client-box-outer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.clients-page .client-box .client-box-inner {
  opacity: 0;
  background: rgba(231, 60, 78, 0.9);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.clients-page .client-box .client-box-outer p {
  text-align: center;
  line-height: 200px;
  font-size: 45px;
}
.clients-page .client-box:hover {
  color: white !important;
}
.clients-page .client-box:hover .client-box-inner {
  opacity: 1;
}
/* PARTNERS */
.partners-page .partner-box {
  text-align: center;
}
.partners-page .partner-box > img {
  width: 179px;
  height: 51px;
  filter: brightness(0) invert(1);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.partners-page .partner-box:hover > img {
  opacity: 0.5;
}
/* CONTACT */
.contact-page {
  padding-top: 0;
  padding-bottom: 0;
}
.contact-page .contact-form input,
.contact-page .contact-form textarea {
  border-radius: 0;
}
.contact-page .contact-form textarea {
  resize: none;
}
.contact-page .contact-form input {
  height: 40px;
}
.contact-page .contact-form button {
  width: 30%;
  border: 1px solid #E73C4E;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.contact-page .contact-form button:hover,
.contact-page .contact-form button:focus {
  color: #E73C4E;
  background-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.contact-page .google-map {
  margin-left: -15px;
  margin-right: -15px;
  background-color: grey;
  height: 300px;
}
.contact-page .social-box {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-page .social-box a i {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  margin-left: 3px;
  margin-right: 3px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
}
.contact-page .social-box a:hover i {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  border-bottom: 20px solid #E73C4E;
  background-color: white;
}
.contact-page .social-box .fa {
  background-color: #333333;
}
/* FOOTER */
footer {
  width: 100%;
  background-color: #2e2e2e;
  color: white;
  height: 80px;
  text-align: center;
}
footer p {
  line-height: 80px;
  margin-bottom: 0;
}
/* DARK THEME */
.dark-theme {
  background-color: #1a1a1a;
}
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme p {
  color: white;
  font-family: 'Lato', sans-serif;
}
.dark-theme .btn-default {
  color: #333333;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.dark-theme .btn-default:hover,
.dark-theme .btn-default:focus,
.dark-theme .btn-default.focus,
.dark-theme .btn-default:active,
.dark-theme .btn-default.active,
.open > .dropdown-toggle.dark-theme .btn-default {
  color: #333333;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.dark-theme .btn-default:active,
.dark-theme .btn-default.active,
.open > .dropdown-toggle.dark-theme .btn-default {
  background-image: none;
}
.dark-theme .btn-default.disabled,
.dark-theme .btn-default[disabled],
fieldset[disabled] .dark-theme .btn-default,
.dark-theme .btn-default.disabled:hover,
.dark-theme .btn-default[disabled]:hover,
fieldset[disabled] .dark-theme .btn-default:hover,
.dark-theme .btn-default.disabled:focus,
.dark-theme .btn-default[disabled]:focus,
fieldset[disabled] .dark-theme .btn-default:focus,
.dark-theme .btn-default.disabled.focus,
.dark-theme .btn-default[disabled].focus,
fieldset[disabled] .dark-theme .btn-default.focus,
.dark-theme .btn-default.disabled:active,
.dark-theme .btn-default[disabled]:active,
fieldset[disabled] .dark-theme .btn-default:active,
.dark-theme .btn-default.disabled.active,
.dark-theme .btn-default[disabled].active,
fieldset[disabled] .dark-theme .btn-default.active {
  background-color: white;
  border-color: white;
}
.dark-theme .btn-default .badge {
  color: white;
  background-color: #333333;
}
.dark-theme .btn-primary {
  color: #eeeeee;
  background-color: #31a2ac;
  border-color: #31a2ac;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.dark-theme .btn-primary:hover,
.dark-theme .btn-primary:focus,
.dark-theme .btn-primary.focus,
.dark-theme .btn-primary:active,
.dark-theme .btn-primary.active,
.open > .dropdown-toggle.dark-theme .btn-primary {
  color: #eeeeee;
  background-color: #2b8f98;
  border-color: #298890;
}
.dark-theme .btn-primary:active,
.dark-theme .btn-primary.active,
.open > .dropdown-toggle.dark-theme .btn-primary {
  background-image: none;
}
.dark-theme .btn-primary.disabled,
.dark-theme .btn-primary[disabled],
fieldset[disabled] .dark-theme .btn-primary,
.dark-theme .btn-primary.disabled:hover,
.dark-theme .btn-primary[disabled]:hover,
fieldset[disabled] .dark-theme .btn-primary:hover,
.dark-theme .btn-primary.disabled:focus,
.dark-theme .btn-primary[disabled]:focus,
fieldset[disabled] .dark-theme .btn-primary:focus,
.dark-theme .btn-primary.disabled.focus,
.dark-theme .btn-primary[disabled].focus,
fieldset[disabled] .dark-theme .btn-primary.focus,
.dark-theme .btn-primary.disabled:active,
.dark-theme .btn-primary[disabled]:active,
fieldset[disabled] .dark-theme .btn-primary:active,
.dark-theme .btn-primary.disabled.active,
.dark-theme .btn-primary[disabled].active,
fieldset[disabled] .dark-theme .btn-primary.active {
  background-color: #31a2ac;
  border-color: #31a2ac;
}
.dark-theme .btn-primary .badge {
  color: #31a2ac;
  background-color: #eeeeee;
}
/* LIGHT THEME */
.light-theme {
  background-color: #ffffff;
}
.light-theme h3,
.light-theme .fa {
  color: #E73C4E;
}
.light-theme hr {
  border-color: #E73C4E;
}
.light-theme .form-control:focus {
  border-color: #E73C4E;
}
.light-theme .btn-primary {
  color: white;
  background-color: #E73C4E;
  border-color: #E73C4E;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.light-theme .btn-primary:hover,
.light-theme .btn-primary:focus,
.light-theme .btn-primary.focus,
.light-theme .btn-primary:active,
.light-theme .btn-primary.active,
.open > .dropdown-toggle.light-theme .btn-primary {
  color: white;
  background-color: #e42539;
  border-color: #e31c31;
}
.light-theme .btn-primary:active,
.light-theme .btn-primary.active,
.open > .dropdown-toggle.light-theme .btn-primary {
  background-image: none;
}
.light-theme .btn-primary.disabled,
.light-theme .btn-primary[disabled],
fieldset[disabled] .light-theme .btn-primary,
.light-theme .btn-primary.disabled:hover,
.light-theme .btn-primary[disabled]:hover,
fieldset[disabled] .light-theme .btn-primary:hover,
.light-theme .btn-primary.disabled:focus,
.light-theme .btn-primary[disabled]:focus,
fieldset[disabled] .light-theme .btn-primary:focus,
.light-theme .btn-primary.disabled.focus,
.light-theme .btn-primary[disabled].focus,
fieldset[disabled] .light-theme .btn-primary.focus,
.light-theme .btn-primary.disabled:active,
.light-theme .btn-primary[disabled]:active,
fieldset[disabled] .light-theme .btn-primary:active,
.light-theme .btn-primary.disabled.active,
.light-theme .btn-primary[disabled].active,
fieldset[disabled] .light-theme .btn-primary.active {
  background-color: #E73C4E;
  border-color: #E73C4E;
}
.light-theme .btn-primary .badge {
  color: #E73C4E;
  background-color: white;
}
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme h6 {
  color: #333333;
  font-family: 'Lato', sans-serif;
}
.light-theme h1::first-letter,
.light-theme h2::first-letter,
.light-theme h3::first-letter,
.light-theme h4::first-letter,
.light-theme h5::first-letter,
.light-theme h6::first-letter {
  color: #E73C4E;
}
.light-theme .section-heading,
.dark-theme .section-heading {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.light-theme h3,
.dark-theme h3 {
  font-weight: 400;
}
.light-theme .form-control:focus,
.dark-theme .form-control:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
/*
  BOOTSTRAP - 5ths classes allow 5 columns in a bootstrap row.
*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 0;
  font-weight: 700;
  text-transform: uppercase;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.row.is-flex.horizontal > [class*='col-'] {
  display: flex;
  flex-direction: row;
}
.row.is-flex.horizontal-right > [class*='col-'] {
  display: flex;
  flex-direction: row-reverse;
}
.sr {
  visibility: hidden;
}
/*
  COMMON
*/
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.vertical-align {
  align-items: center;
}
