//out: style.css

@images: "../images";
@fonts: "../fonts";

@navlink-normal: white;
@navlink-hover: #f3c13a;

@font-face {
    font-family: keepCalm;
    src: url("@{fonts}/keep-calm-medium.ttf");
    font-size: 24px;
}


// Bootstrap overrides.
.navbar-default {
  background-color:rgba(0,0,0,0);
  border:none;
  .navbar-nav {
    margin-right: 40px;
  }
  .navbar-nav li.active {
    a:hover, a:focus {
      background-color:rgba(0,0,0,0);
      color:@navlink-hover;
    }
    a {
      background-color:rgba(0,0,0,0);
      color: @navlink-hover;
    }
  }
  .navbar-nav li {
    margin-right: 20px;
    a:hover, a:focus {
      color: @navlink-hover;
    }
    a {
      font-family:keepCalm;
      line-height:80px;
      height:80px;
      padding-top:0;
      color:white;
    }
  }
}


#fpsection-home {
  background: url("@{images}/lbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-top {
  height: 70%;
  background: #2e2e2e;
}

.landing-bot {
  height: 30%;
  background: rgba(0, 0, 0, 0.7);
}
